{% load static %}
<div class="aside">

    <div class="topics">

        <h2 class="h2">Topics</h2>

        <a href="{% url 'programming' %}" class="topic-btn">
            <div class="icon-box">
                <i class="fa-solid fa-code"></i>
            </div>

            <p>programming</p>
        </a>

        <a href="{% url 'EH' %}" class="topic-btn">
            <div class="icon-box">
                <i class="fa-solid fa-terminal"></i>
            </div>

            <p>Ethical Hacking</p>
        </a>

        <a href="{% url 'Marketing' %}" class="topic-btn">
            <div class="icon-box">
                <i class="fa-solid fa-bullhorn"></i>
            </div>

            <p>Marketing</p>
        </a>

        <a href="{% url 'Another' %}" class="topic-btn">
            <div class="icon-box">
                <i class="fa-solid fa-blog"></i>
            </div>

            <p>Another choice</p>
        </a>

    </div>

    <div class="contact">

        <h2 class="h2">Let's Talk</h2>

        <div class="wrapper">

            <p>
                Do you want to learn more about how I can help your company overcome problems? Let us
                have a
                conversation.
            </p>

            <ul class="social-link">

                <li>
                    <a href="#" class="icon-box discord">
                        <ion-icon name="logo-discord"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="icon-box twitter">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="#" class="icon-box facebook">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>